.start-page {
  display: grid;
  grid-template-rows: min-content auto;

  min-height: 100vh;
  background: url('../../assets/start-page.png') no-repeat calc(50% + 350px)
      calc(50% + 100px),
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url('../../assets/background_start_game.jpg') no-repeat center center;
  background-size: 250px 250px, cover, cover;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  &__button {
    --g-button-background-color: var(--g-color-base-positive-heavy, green);
    --g-button-text-color-hover: var(--g-color-base-positive-heavy, darkgreen);
    --g-button-text-color: var(--g-color-base-generic-ultralight, white);
    font-weight: 700;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
