.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.fieldsetBase {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  width: 100%;
}

.inputs {
  composes: fieldsetBase;
  flex-direction: column;
  gap: 10px;
}

.controls {
  composes: fieldsetBase;
  gap: 10px;
}
