.switch {
    position: fixed;
    bottom: 40px;
    right: 30px;
    padding: 15px;
    border-radius: 15px;
    background: var(--g-color-base-background);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    cursor: pointer;
}