.authSection {
  height: 100vh;
  background: url('../../../assets/start-page.png') no-repeat center center,
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url('../../../assets/background_main_page.jpg') no-repeat center center;
  background-size: 250px 250px, cover, cover;
  background-position: calc(100% - 100px) calc(100% - 100px), center, center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authContainer {
  background: var(--g-color-base-background);
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  h1 {
    text-align: center;
    line-height: 1.2;
  }
}
