%wrapper {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url('../assets/background_start_game.jpg') no-repeat center center;
  background-size: 250px 250px, cover, cover;
}

%form-block {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 40px;
}
