:root {
  --white: #fefeff;
  --blue: #5e95d4;
  --dark: #131f2c;
  --text-shadow: -1px -1px 0 #ffff00, 1px -1px 0 hsl(60, 100%, 50%),
    -1px 1px 0 yellow, 1px 1px 0 #ffff00, 0 0 8px #ffd000cc, 0 0 16px #ffd000cc;
}
