.main-page {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url('../../assets/background_main_page.jpg') no-repeat center center;
  min-height: 280vh;
  background-size: cover, cover;

  &__title {
    line-height: 1.25;
    font-size: 72px;
    letter-spacing: 26px;
    margin: 100px;
    text-shadow: var(--text-shadow-light);
  }

  &__subheader {
    text-transform: uppercase;
    font-size: 40px;
    padding: 27px 65px;
  }

  &__description {
    word-spacing: 18px;
    font-size: 22px;
    margin:  0px 45px;
    text-shadow: var(--text-shadow-light);
    text-transform: uppercase;
    line-height: 1.5;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-shadow: var(--text-shadow-light);
  }

  &__button-play {
    margin: 100px auto;
    // padding: 30px;

    --g-button-background-color: var(--g-color-base-positive-heavy, green);
    --g-button-text-color-hover: var(--g-color-base-positive-heavy, darkgreen);
    --g-button-text-color: var(--g-color-base-generic-ultralight, white);
    font-weight: 700;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    margin-left: 100px;
  }
}
